[Unit]
Description=Nix Daemon

[Service]
EnvironmentFile=-/etc/default/nix
ExecStart=/usr/bin/nix-daemon $EXTRA_OPTS
IgnoreSIGPIPE=false
KillMode=process

[Install]
WantedBy=multi-user.target
Alias=nix-daemon.service
